html, body {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	/*background: #f6d4aa;*/
	background: #ededed;
	color: #333;
	margin: 0;
	padding: 0;
	height: 100%;
	font-weight: 500;
}
a:link, a:visited, a:active, a:hover {
	color: #303030;
	text-decoration: none;
	border-bottom: 1px solid #303030;
}
a:hover {
	color: #000;
}
strong {
	color: #222;
}
h1, h2, h3, h4, h5 {
	font-weight: 100;
	margin: .5em 0 .2em 0;
	color: #ffac51;
} 
h1 {
	font-size: 50px;
	margin: 0;
	color: #fff;
}
h2 {
	text-transform: uppercase;
	font-size: 35px;
	font-weight: 600;
}
h3 {
	font-size: 30px;
}
h3.age {
	font-size: 50px;
	font-weight: 100;
	margin-top: 0;
	color: #222;
}
h3.age strong {
	color: #ffac51;
}
h6 {
	margin: 0;
}
p {
	margin: 10px 0 5px 0;
}
header {
	padding: 14px 0px;
	background: #ffc25c;
	border-bottom: 1px solid #ffac51;
	position: fixed;
	width: 100%;
	height: 88px;
	box-sizing: border-box;
}
header img {
	margin-right: 25px;
	float: left;
}
#container {
	position: relative;
	min-height: 100%;
}
.content {
	width: 95%;
	max-width: 960px;
	margin: 0px auto;
}
#body {
	padding-top: 88px;
	border-top: 1px solid #ccc;
}
#body div div {
	margin-left: 225px;
}
form#start {
	margin-left: 50px;
}
form#start input {
	margin: 5px 0;
}
table {
	margin-left: 50px;
}
section#timezones {
	background: #ccc;
	padding: 10px 0;
	width: 100%;
}
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	box-sizing: border-box;
	background: #222;
	text-align: center;
}
footer #share {
	color: #999;
	font-size: 14px;
}
footer a:link, footer a:visited, footer a:active {
	border-bottom: none;
	color: #999;
}
footer a:hover {
	color: #ccc;
}
footer #contact {
	background: #111;
	float: right;
	padding: 15px;
	box-sizing: border-box;
	margin: 0;
}
footer #contact a img {
	opacity: 0.7;
	margin: 0 2px;
}
footer #contact a:hover img {
	transition: 300ms;
	opacity: 1;
}
footer>section, footer>section>div {
	display: inline-block;
}
footer #share {
	position: relative;
	top: 15px;
}
footer #share>div#tell {
	position: relative;
	top: -6px;
	text-transform: uppercase;
	font-size: 12px;
}
footer #share>div#facebook {
	position: relative;
	top: -3px;
	margin: 0 5px;
}
footer #share>div#twitter {
	margin: 0 5px;
}
@media only screen and (max-device-width : 430px), only screen and (max-width : 430px) {
	header {
		height: 70px;
	}
	header img {
		margin-right: 10px;
		height: 43px;
	}
	h1 {
		font-size: 35px;
	}
	h2 {
		font-size: 28px;
	}
	#body {
		margin-left: 0px;
		clear: both;
	}
	#body div div {
		margin-left: 0;
	}
	table {
		margin: 0 auto;
		padding: 0 15px 0 0;
		max-width: 90%;
	}
	footer #share>div#tell {
		display: none;
	}
	footer #share {
		position: relative;
		left: -8%;
	}
}